@import '../../styles/variables';

.coin-page {
    .promoted-label {
        color: $font-theme-1;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }
    table {
        background-color: $color-theme-1;
        border: 1px solid $color-theme-1;
        border-radius: 15px;
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;

        thead {
            background-color: $header-color;
        }
        tbody {
            tr {
                &:hover {
                    background-color: #1a2233;
                }
            }
        }
        th, td {
            .coin-name {
                text-decoration: none;
                color: $font-theme-1;
            }

            &:nth-child(3){
                text-align: left !important;
                padding: 0;
            }
            &:nth-child(2) {
                padding: 0;
            }
               //CHAIN
            &:nth-child(5){
                text-align: left !important;
                padding: 0;
            }
        }
        th {
            color: #525a70;
            text-align: center;
            padding: 18px 14px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;

             //CHAIN
             &:nth-child(5){
                padding: 15px;
            }
        }

        td {
            text-align: center;
            padding: 22px;
            font-size: 12px;
            color: $font-theme-1;
            border-bottom: 1px solid #1d2436;

            //ID
            &:nth-child(1) {
                width: 4%;
            }
            //LOGO
            &:nth-child(2) {
                width: 3%;
            }
            //NAME
            &:nth-child(3) {
                width: 14%;
            }
            //SYMBOL         //CHAIN
            &:nth-child(4),  &:nth-child(5) {
                width: 8%;
            }
            //PRICE          
            &:nth-child(6) {
                width: 14%;
            }

            //24H Change
            &:nth-child(7) {
                width: 6%;
            }

            //MARKETCAP      
            &:nth-child(8) {
                width: 14%;
            }
            //LAUNCH
            &:nth-child(9) {
                width: 10%;
            }
            //UPVOTES
            &:nth-child(10) {
                width: 8%;
            }

            //VOTE
            &:nth-child(11) {
                width: 12%;
            }


            .logoIcon {
                height: 32px;
                width: 32px;
                margin-right: 5px;
                border-radius: 10px;
            }
            .logoChain {
                margin-right: 5px;
                max-height: 21px;
                max-width: 21px;
            }
            .chain {
               margin-top: 2px;
            }

            .row-name-flex {
                display: flex;
                flex-direction: row;
            }


            .audited {
                font-size: 9px;
                background-color: $color-theme-2;
                padding: 3px;
                color: #fff;
                border-radius: 3px;
                margin-right: 2px;
            }

            .isPresale {
                color: #e00da1;
            }
            .doxxed {
                font-size: 9px;
                background-color: $color-theme-3;
                padding: 3px;
                color: #fff;
                border-radius: 3px;
            }

            .no-data {
                color: rgb(145, 145, 145);
                font-weight: 600;
                font-size: 10px;
            }

            .coin-name {
                cursor: pointer;
            }

            .price-up {
                color: $color-theme-3;
            }

            .price-down {
                color: red;
            }

            .button {
                padding: 7px 20px;
                border-radius: 5px;
                border: 1px solid $color-theme-3;
                font-size: 12px;
                transition: 0.3s;
                background-color: transparent;
                text-decoration: none;
                color: $color-theme-3;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                box-shadow: 1px 1px 8px 0px rgb(21, 100, 54);

                &:hover, &.voted {
                    background-color: $color-theme-3;
                    color: white;    
                }
            }
        }
    }
    .loadMore {
        color: white;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        padding: 10px 15px;
        border-radius: 25px;
        margin-top: 50px;
        border: 1px solid $color-theme-3;
        min-width: 130px;
        max-height: 42px;
        box-shadow: 2px 2px 8px 2px rgb(21, 100, 54);

        &:hover {    
             background-color: $color-theme-3;
        }
    }

    @media screen and (max-width: 1100px) {
        table {
            th,td {
                // SYMBOL
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 980px) {
        table {
            th,td {
                //24H Change
                &:nth-child(7) {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 880px) {
        table {
            th,td {
                //Launch
                &:nth-child(9) {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 780px) {
        table {
            th,td {
                //CHAIN
                &:nth-child(5) {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 680px) {
        .promoted-label {
            margin-left: 5px;
        }
        table {
            th,td {
                //PRICE
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 580px) {
        table {
            th,td {
                //UPVOTES
                &:nth-child(10) {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        table {
            th,td {
                //VOTE
                &:nth-child(11) {
                    display: none;
                }
            }
        }
    }
}
