@import '../../../styles/variables';

.add-coin-container {
    color: white;
    background-color: $racoins-color-blue-700;
    padding: 20px;
    max-width: 930px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid $racoins-color-blue-400;
    margin-bottom: 50px;  
    
    form {
        .form-wrapper {
            display: flex;
            flex-direction: row;

            h3 {
                margin-block-start: 0;
                margin-block-end: 0;  
                margin-bottom: 30px;
            }

            label {
                font-size: 12px;

                span {
                    font-size: 11px;
                    color: $racoins-color-red-100;
                }
            }
            input, textarea, select {
                margin-top: 5px;
                margin-bottom: 15px;
                background-color: $racoins-color-blue-700;
                border: 1px solid $racoins-color-blue-400;
                padding: 10px 8px;
                border-radius: 5px;
                color: $racoins-color-white-100;
                font-size: 13px;
                resize: vertical;
                &:focus {
                    outline: 1px solid  $racoins-color-gray-400;
                }

                option {
                    color: $racoins-color-white-100;
                }

            
            }
            .MuiOutlinedInput-input {
                border: 0;
            }
            .details {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin-right: 20px;
            }

            .links {
                min-width: 340px;
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
    }

    .submit {
       text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
       button {
            background-color: $racoins-color-blue-100;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid $racoins-color-blue-100;
            width: 130px;
            max-height: 40px;
            cursor: pointer;
            color: $racoins-color-white-100;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 1015px) {
        form {
            .form-wrapper {
                flex-direction: column;

                .details {
                    margin-right: 0;
                }
            }
        }
    }

    @media screen and (max-width: 590px) {
        form {
            .form-wrapper {
                flex-direction: column;

                .details {
                    margin-right: 0;
                }
            }
        }
    }
}