@import '../../styles/variables';

.navbar-container {
    margin-top: 50px;
    .navlinks {
        height: 40px;
        a {
            text-decoration: none;
            color: $racoins-color-white-100;
            background-color: $racoins-color-blue-400;
            font-size: 12px;
            font-weight: 500;
            padding: 10px 15px;
            margin-right: 10px;
            line-height: 40px;
            border-radius: 5px;

            &:hover, &.active {
                background-color: $racoins-color-orange-100;
                i {
                    color: $racoins-color-white-100;
                }
            }
        }  
        img {
            width: 16px;
        }  

    }

    .right {
        float: right;
        margin-top: 15px;
        font-size: 12px;
        color: $racoins-color-gray-400;
    }

    @media screen and (max-width: 1380px) {
        margin-left: 10px;
    }
    @media screen and (max-width: 880px) {
        .right {
            display: none;
        }
    }
    @media screen and (max-width: 745px) {
        .navlinks {
            a {
                font-size: 11px;
            }
        }
    }
    @media screen and (max-width: 645px) {
        .navlinks {
            a {
                margin-right: 5px;
                font-size: 10px;
                line-height: 40px;
            }
        }
    }

    @media screen and (max-width: 580px) {
        
        margin-top: 10px;
        .navlinks {
            a {
                padding: 10px 10px;
            }
        }
    }

}
