@import '../../styles/variables';

.navbar-container {
    display: flex;
    margin-top: 50px;
    .navlinks {
        height: 40px;
        a {
            text-decoration: none;
            color: $font-theme-1;
            font-size: 12px;
            font-weight: 500;
            padding: 10px 8px;
            margin-right: 10px;
            line-height: 40px;
            border-radius: 5px;

            &:hover, &.active {
                background-color: rgb(255, 94, 0);
                i {
                    color: $font-theme-1;
                }
            }
        }  
        img {
            width: 16px;
        }  

    }

    .right {
        float: right;
    }

    @media screen and (max-width: 745px) {
        .navlinks {
            a {
                font-size: 11px;
            }
        }
    }
    @media screen and (max-width: 645px) {
        .navlinks {
            a {
                font-size: 10px;
                line-height: 40px;
                border-radius: 0;
            }
        }
    }

    @media screen and (max-width: 580px) {
        .navlinks {
            display: none;
        }
    }

}
