@import '../../../styles/variables';

.coin-details-container {
    overflow: hidden;
    .error {
        color: $racoins-color-red-100;
        font-size: 11px;
    }
    a {
        font-size: 13px;
        text-decoration: none;
        color: $racoins-color-gray-400;
        cursor: pointer;
    }

    .nav {
        margin-left: 5px;
    }
    h3 {
        text-transform: uppercase;
        color: $racoins-color-white-100;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .flex-container {
        display: flex;
        margin-top: 10px;
        margin-bottom: 30px;

        .info-wrapper {
            flex: auto;
            flex-basis: 70%;
            margin-right: 10px;

            .coin-info {
                background-color: $racoins-color-blue-700;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid $racoins-color-blue-400;
                margin-bottom: 10px;
                .logo-name-wrapper {
                    display: flex;
                    
                    img {
                        height: 60px;
                        width: 60px;
                        margin-right: 10px;
                        border-radius: 10px;
                        @media screen and (max-width: 460px) {
                            display: none;
                         }
                    }    
                }
                .name {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    color: $racoins-color-white-100;
    
                    h3 {
                        margin-right: 3px;
                        font-weight: 500;
                    }
    
                    .chain, .symbol {
                        padding: 2px 5px;
                        border-radius: 5px;
                        color: $racoins-color-white-100;
                        font-size: 12px;
                        margin-right: 3px;
                    }
    
                    .chain {
                        background-color: $racoins-color-blue-100;
                    }
    
                    .symbol {
                        background-color: $racoins-color-green-100;
                    }
                }
                .copyToClipboard {
                    margin-left: 5px;
                    background-color: $racoins-color-blue-700;
                    outline: none;
                    color: white;
                    cursor: pointer;
                    font-size: 12px;
                    float: right;
                    padding: 5px 5px 3px 5px;
                    border: 0;
                    margin-top: -5px;
                    .copyIcon {
                        fill: rgb(161, 161, 161);
                        &:hover {
                            fill: $racoins-color-blue-100;
                        }
                    }
                }
                .coin-ca {
                    display: flex;
                    font-size: 13px;
                    color: $racoins-color-white-100;
                    font-weight: 300;
                    margin-top: 5px;
                    span {
                        font-weight: 500;
                    }
                }
    
                .css_vlcom {
                    display: flex;
                    margin-top: 50px;
                    border: 1px solid $racoins-color-blue-400;
                    border-left: 0;
                    border-right: 0;
                    padding: 8px 0px;
                    color: $racoins-color-white-100;
                    font-size: 12px;
                    white-space: nowrap;

                    div {
                        span {
                            font-size: 14px;
                            padding: 4px 15px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }
                    }
                    
                    @media screen and (max-width: 460px) {
                        span {
                            margin-right: 3px;
                            font-size: 12px;
                        }
                    }
                }
    
                .action-buttons {
                    text-align: left;
                    button {
                        padding: 8px 15px;
                        border: 1px solid $racoins-color-blue-100;
                    }
                    a {
                        padding: 9px 15px 10px 15px;
                        background-color: rgb(48, 48, 97);
                        border: 1px solid $racoins-color-blue-200;
                    }
                    button, a {
                        font-weight: 600;
                        border-radius: 5px;
                        margin-right: 5px;
                        min-width: 90px;
                        cursor: pointer;
                        color: $racoins-color-white-100;
    
                        &.voted {
                             background-color: $racoins-color-green-100;
                             border: 1px solid $racoins-color-green-100;
                        }
                        &.normal {
                            background-color: $racoins-color-blue-100;
                        }
                    }
                   
                }
            }
            .chart {
                padding: 0px 3px 0px 0px;
            }
            .coin-description {
                background-color: $racoins-color-blue-700;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid $racoins-color-blue-400;
                overflow-x: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                h3 {
                    font-weight: 400 !important;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                span {
                    color: $racoins-color-white-100;
                    font-size: 13px;
                    white-space: pre-line;
                }
            }

            .coin-description::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
            }
        }

        .side-wrapper {
            flex-basis: 30%;
            .community-container,.swaps-container, .charts-container, .market-data-container {
                background-color: $racoins-color-blue-700;
                border-radius: 10px;
                border: 1px solid $racoins-color-blue-400;
                margin-bottom: 5px;
            }

            .market-data-container {    
                padding: 20px 20px 10px 20px;
                h3 {
                    font-weight: 400 !important;
                    font-size: 16px;
                }

                div p {
                    color: $racoins-color-gray-400;
                    font-size: 14px;

                    .no-data {
                        color: $racoins-color-blue-400;
                        font-weight: 600;
                        font-size: 12px;
                    }

                    span {
                        float: right;
                        color: $racoins-color-white-100;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .price-up {
                        color: $racoins-color-green-100;
                    }

                    .price-down {
                        color: $racoins-color-red-100;
                    }
                }

                .buttons {
                    margin-top: 35px;

                    button {
                        padding: 5px 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        border: 1px solid $racoins-color-blue-800;
                        background-color: $racoins-color-blue-400;
                        margin-right: 4px;
                        color: $racoins-color-white-100;

                        img {
                            text-align: center;
                            vertical-align: middle;
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }

            .community-container {
                padding: 10px 20px 10px 10px;
                text-align: center;
                h3 {
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                div {
                    padding: 8px;
                    overflow-x: auto;
                    white-space: nowrap;
                }
                div a {
                    margin-right: 5px;
                    padding: 8px;
                    border-radius: 5px;
                    color: $racoins-color-white-100;
                    font-size: 12px;

                    &:hover {
                        opacity: 80%;
                    }
                }

                .telegram {
                    background-color: #229ED9
                }

                .twitter {
                    background-color: #00acee;
                }

                .discord {
                    background-color: #5865F2;
                }

                .website {
                    background-color: #413f63;
                    border: 1px solid #5a5970;
                }
            }

            .charts-container {
                padding: 15px 20px 20px 20px;
                text-align: center;
                
                .no-available {
                    color: $racoins-color-gray-400;
                }
                h3 {
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                .chart {
                    padding: 8px;
                    margin-right: 5px;
                    border-radius: 5px;
                    border: 1px solid $racoins-color-blue-400;
                    color: $racoins-color-white-100;
                    img {
                        margin-bottom: -3px;
                        margin-right: 4px;
                        max-height: 17px;
                        max-width: 17px;
                    }
                    &:hover {
                        background-color: $racoins-color-blue-800;
                    }
                }
            }

            .swaps-container {
                padding: 3px 20px 3px 20px;
                color: $racoins-color-white-100;
                .swap-wrapper {
                    line-height: 35px;
                    span {
                        font-size: 12px;
                    }
                    .swap {
                        float: right;
                        color: $racoins-color-white-100;
                       
                        img {
                            margin-bottom: -4px;
                            margin-right: 4px;
                            height: 17px;
                            width: 17px;
                        }
                    }
                    .no-available {
                        color: $racoins-color-gray-400;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1400px) {
       .flex-container {
            .coin-info {
                flex-basis: 67%;
            }
            .side-wrapper {
                flex-basis: 33%;
            }
       }
    }

    @media screen and (max-width: 1280px) {
        .flex-container {
            flex-direction: column;
            font-size: 12px;
            .info-wrapper {
                margin: 5px;
                .coin-description {
                    font-size: 14px;
                }
            }
            .side-wrapper {
                margin: 5px;
            }
        }
    }

    @media screen and (max-width: 668px) {
       
    }

    @media screen and (max-width: 420px) {   
        h3 {
            font-size: 15px !important;
        }
        .flex-container {
            font-size: 12px !important;
            .info-wrapper {
                .coin-info {
                    .coin-ca {
                        font-size: 12px;
                        .copyToClipboard {
                            margin-left: 0;
                        }
                    }
                    .css_vlcom {
                        margin-top: 25px;
                        flex-direction: column;
                        div {
                            span {
                                margin-right: 5px;
                                padding: 4px 8px;
                            }
                        }
                    }
                }
            }
            .side-wrapper {
                .market-data-container {
                   div > p{
                    font-size: 13px;
                        span {
                            font-size: 13px; 
                        }
                   }
                }
            }
            .coin-description {
                font-size: 12px !important;
            }
        }
    }
}
