// COLORS //
$body-color: #121826;
$header-color: #0e1320;
$color-theme-1: #181e2c;
$color-theme-2: #3CAFF0;
$color-theme-3: #18c477;
$font-theme-1: #fff;
$font-theme-2: #12141c;
$border-color-1: #202940;