

// COLORS //
$racoins-color-black: black;
$racoins-color-blue-700: #060f25; //Body
$racoins-color-blue-800: #0c152c; //Header
$racoins-color-blue-200: #2e3955;
$racoins-color-blue-500: #11182b;
$racoins-color-blue-400: #1d2744;
$racoins-color-white-100: white;
$racoins-color-blue-100: #3CAFF0;
$racoins-color-green-100: #18c477;
$racoins-color-teal-100: #0eccc2;
$racoins-color-red-100: red;
$racoins-color-gray-400: #6d7791;
$racoins-color-orange-100: rgb(255, 94, 0);
